# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.csettings/
.settings/
target/
bin/

# Maven
target/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log
logs/

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env
# Docker
*.container
*.pid
*.tar
*.bak
*.backup
